@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

:root {
  /* Your default theme */
  --background: #c2d2e5;
  --foreground: #292e52;

  --gradient:linear-gradient(27deg, rgba(226,183,255,1) 0%, rgba(199,217,255,1) 50%, rgba(250,224,138,1) 100%);
  --gradient1:linear-gradient(27deg, rgba(29,12,83,1) 0%, rgba(57,6,80,1) 50%, rgba(11,73,97,1) 100%);
}

body {
  overflow-y: scroll;
}

.gradient-border {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-image: linear-gradient(to bottom, var(--border-color-from, #edb621), var(--border-color-to, #fc4524)) 3;
}

.back-light {
  background-color: var(--gradient) 1;
}
.back-dark {
  background-color: var(--gradient1) 1;
}

[data-theme='dark'] {
  --background: #1d213d;
  --foreground: #c2d2e5;
}


.Welcome-text {
  
  font-weight: 700;
}


.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  display: flex;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;

}
